/* 
These settings govern the width of the Applet and the space taken by the font.
Changes may be required with some themes to avoid the display width being exceeded
which leads to jitter with high network speeds and resolutions
or to allow a reduced size width to save panel space. 27-06-2013
*/
.netspeed-applet {
	text-align: center;
	min-width: 90px;
	font-size: 12px;
	padding-bottom: 2px;
}

